In [0]:
class travelling_sales_man():
  def __init__(self,arr,n,s):
    self.arr = arr
    self.n = n
    self.s = s
  
  def stp(self,src):
    d = {}
    m=src
    for i in self.s :
      if(i==src):
        self.s.remove(i)
    x = []
    x.append(src)
    sum = 0
    while(1):
      if self.s:
        min = 999
        for i in range(self.n):
          if min>self.arr[src][i] and i in self.s:
            min = self.arr[src][i]
            min_index = i
        sum += min
        x.append(min_index)
        self.s.remove(min_index)
        src = min_index
      else:
        break
    sum += self.arr[src][m]
    x.append(m)
    print(sum)
    print(x)

In [0]:
arr = [[0, 10, 15, 20],[10, 0, 35, 25],[15, 35, 0, 30],[20, 25, 30, 0]]
n = 4
s = [0,1,2,3]

In [0]:
z = travelling_sales_man(arr,n,s)

In [0]:
z.stp(0)

80
[0, 1, 3, 2, 0]